.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 25px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: #f3f3f3;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: 0.263s ease-in-out;
  margin: 0;
}

.switch__slider--C {
  left: 27px;
}

.switch__slider--F {
  left: 1px;
}
.switch__temp--active {
  font-size: 14px;
  color: #f3f3f3;
  margin: 0;
}

.switch__temp--F,
.switch__temp--C {
  cursor: pointer;
  position: absolute;
  top: -11px;
  font-size: 14px;
  color: #f3f3f3;
  margin: 0;
  top: 3px;
}
.switch__temp--F {
  left: 11px;
}

.switch__temp--C {
  right: 9px;
}
