.delete-modal__content {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  max-width: 670px;
  height: 280px;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0;
  font-size: 20px;
  line-height: 24px;
}

.delete-modal__text {
  text-align: center;
  margin-bottom: 40px;
}

.delete-modal__text p {
  margin: 4px 0;
}

.delete-modal__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.delete-modal__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-modal__button_confirm {
  color: #ff4d00;
}

.delete-modal__button_confirm:hover {
  color: #ff0000;
}

.delete-modal__button_cancel:hover {
  color: #666;
}
