.item-card {
  position: relative;
  border: 1px solid #0000004d;
  border-radius: 20px;
  max-width: 325px;
  height: 325px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.item-card__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  object-fit: cover;
}

.item-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  gap: 10px;
}

.item-card__name {
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
}
