.header {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 32px 0 28px;
  text-align: center;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  border: 0;
  padding: 0;
  background-color: #f3f3f3;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 0;
}

.header__username {
  margin: 0;
  line-height: 24.8px;
  padding-right: 12px;
  cursor: pointer;
  padding-left: 20px;
}

.header__profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.header__auth-btn {
  padding-left: 20px;
  background-color: #f3f3f3;
  border: 0;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar--fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 27.5px;
  text-transform: uppercase;
}

.header__add-item-btn {
  border: 0;
  margin: 0;
  padding: 0 0 0 20px;
}
