.modal--item {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal_opened {
  visibility: visible;
}

.item-modal__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 498px;
  width: 100%;
  height: 610px;
  font-size: 20px;
}

.item-modal__image {
  width: 100%;
  height: auto;
  display: block;
}

.item-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.item-modal__footer {
  position: relative;
  padding: 20px 32px;
  color: #000;
  font-size: 20px;
}

.item-modal__caption,
.item-modal__weather {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
}

.item-modal__weather {
  padding-top: 12px;
}

.item-modal__delete-button {
  position: absolute;
  top: 20px;
  right: 32px;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
}

.item-modal__delete-button:hover {
  color: #ff0000;
}
