.modal--item {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal_opened {
  visibility: visible;
}

.item-modal__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  max-width: 498px;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 610px;
}

.item-modal__image {
  width: 100%;
  flex: 1 1 auto;
  max-height: calc(100% - 112px);
}

.item-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.item-modal__footer {
  position: relative;
  padding: 20px 32px;
  color: #000;
  font-size: 20px;
}

.item-modal__caption,
.item-modal__weather {
  margin: 0;
  font-size: inherit;
}

.item-modal__weather {
  padding-top: 12px;
}

.item-modal__delete-button {
  position: absolute;
  top: 20px;
  right: 32px;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  font-size: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
}

.item-modal__delete-button:hover {
  color: #ff0000;
}

/* not BEM */
/* .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
} */

.item__details {
  position: absolute;
  /* top: 15px; */
  /* border-radius: 4px; */
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin: 0;
}

/* .item__like-button {
  border: none;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
  background-color: inherit;
} */

.item__like-icon {
  width: 18px;
  height: 15px;
}
.item__details-title {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

.item__like-button {
  background: none;
  border: none;
  cursor: pointer;
  /* padding: 4px; */
  padding: 0;
  margin: 0;
  /* justify-content: center; */
  display: flex;
}
