.modal--item .modal__content {
  max-width: 498px;
  min-height: 610px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal--item .modal__image {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal--item .modal__caption,
.modal--item .modal__weather {
  padding: 20px 0 12px 32px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.modal--item .modal__weather {
  padding-bottom: 32px;
  color: black;
}

.modal--item .modal__close {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.modal--item .modal__close img {
  width: 100%;
  height: 100%;
}
