.sidebar {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  padding-top: 20px;
  max-width: 100%;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin: 0;
}
