.footer {
  justify-content: space-between;
  background-color: #f3f3f3;
  align-items: center;
  color: #000;
  display: flex;
  text-align: left;
  margin: 171px 0 24px 0;
  line-height: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
}
