.clothes-section__header {
  display: flex;
  padding: 35px 0 20px;
  gap: 20px;
}

.clothes-section__title {
  margin: 0;
}

.clothes-section__add-btn {
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  border: none;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: flex-start;
  padding: 0;
  gap: 20px;
}

.clothes-section__text {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 20px 0 20px 0;
}
