.login-modal .modal__content {
  max-height: 304px;
}

.login-modal__actions {
  margin: 0;
  padding: 0;
  bottom: 36px;
  position: absolute;
}

.login-modal__submit-btn,
.login-modal__register-btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.login-modal__submit-btn {
  width: 73px;
  height: 36px;
  color: white;
  background-color: black;
}

.login-modal__register-btn {
  width: 91px;
  height: 36px;
  border: 0;
  background-color: white;
}
